.wrapper{
    
   
    border: 1px solid rgb(239, 232, 232);
    
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  
 
}
/* .wrapper ::-webkit-scrollbar{
    width: 1px;
} */
.wrapper .carditems{
    margin: 0 7px;
    
    width: 30vw;
    display: inline-block ;
    background-color: rgb(244, 229, 229);       
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 ;
}


@media only screen and (max-width: 600px) {
    .wrapper .carditems{
        width: 70vw;
    }
}
